
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.pythony.dev/Static/$1 [QSA]
RewriteRule ^([0-9A-Za-z-/]*)$ /Static/Index.php [QSA]
RewriteRule ^([0-9A-Za-z-/]*.json)$ /Static/Index.php [QSA]
