.container {
    background-attachment : fixed;
    background-size : cover;
    background-position : center;
} .navbar {
    min-height : calc(10vh + 20px);
} .icon {
    height : 10vh;
} .w-200 {
    width : 200%;
} .rounded-left {
    border-radius : 20px 0px 0px 20px;
} .rounded-right {
    border-radius : 0px 20px 20px 0px;
} .section {
    margin-top : calc(10vh + 19px);
} .networks {
    height : 5vh;
} .text-justify {
    text-align : justify;
} .line {
    height : 3px;
    border-radius: 3px;
} .image-48 {
    width : 48px;
} .image-64 {
    width : 64px;
} .image-256 {
    width : 256px;
} .ratio-1 {
    aspect-ratio : 1;
    object-fit : cover;
} .rounded-textarea {
    border-radius : 20px;
    border-bottom-right-radius : 0px;
} .w-67 {
    width : 67%;
} .w-33 {
    width : 33%;
} .pointer {
    cursor : pointer;
} .zoom {
    font-size : 500%;
}