.navbar {
    min-height : 12.5vh;
} .icon {
    height : 6.25vh;
} .w-200 {
    width : 200%;
} .border-left-0 {
    border-top-left-radius : 0px;
    border-bottom-left-radius : 0px;
} .section {
    margin-top : 12.5vh;
} .networks {
    height : 5vh;
} .text-justify {
    text-align : justify;
} .line {
    height : 3px;
    border-radius: 3px;
    background-color : #45AAF2;
} .ratio-1 {
    aspect-ratio : 1;
    object-fit : cover;
} .image-48 {
    width : 48px;
} .image-64 {
    width : 64px;
} .image-256 {
    width : 256px;
} .pointer {
    cursor : pointer;
} .zoom {
    font-size : 500%;
}